{% extends 'base.html' %}

{% block title %}Error - Pokédex{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-danger text-center">
                <h2>Error found</h2>
                <p class="mb-3">{{ error }}</p>
                <a href="{% url 'pokemon:pokemon' %}" class="btn btn-primary">
                    Back to main page
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
